ReferenciaServicios/Web References/WRGestionProductos/WSGestionProductos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarProductos">
        <s:complexType />
      </s:element>
      <s:element name="ListarProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarProductosResult" type="tns:ProductosRPT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProductosRPT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="paProductos" type="tns:ArrayOfProductoCN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProductoCN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductoCN" nillable="true" type="tns:ProductoCN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductoCN">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="pnIdePro" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="pcNomPro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pcDesPro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pnPrePro" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="pnStoPro" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ptFecPro" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="CrearProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtoProducto" type="tns:ProductCreateDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProductCreateDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cNomPro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cDesPro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nPrePro" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="nStoPro" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CrearProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CrearProductoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtoProducto" type="tns:ProductUpdateDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProductUpdateDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="nIdePro" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="cNomPro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cDesPro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nPrePro" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="nStoPro" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarProductoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idProducto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarProductoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarProductosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarProductos" />
  </wsdl:message>
  <wsdl:message name="ListarProductosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="CrearProductoSoapIn">
    <wsdl:part name="parameters" element="tns:CrearProducto" />
  </wsdl:message>
  <wsdl:message name="CrearProductoSoapOut">
    <wsdl:part name="parameters" element="tns:CrearProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarProducto" />
  </wsdl:message>
  <wsdl:message name="ActualizarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarProducto" />
  </wsdl:message>
  <wsdl:message name="EliminarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSGestionProductosSoap">
    <wsdl:operation name="ListarProductos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene la lista de todos los productos.</wsdl:documentation>
      <wsdl:input message="tns:ListarProductosSoapIn" />
      <wsdl:output message="tns:ListarProductosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearProducto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Crea un nuevo producto.</wsdl:documentation>
      <wsdl:input message="tns:CrearProductoSoapIn" />
      <wsdl:output message="tns:CrearProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza un producto existente.</wsdl:documentation>
      <wsdl:input message="tns:ActualizarProductoSoapIn" />
      <wsdl:output message="tns:ActualizarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina un producto por su identificador.</wsdl:documentation>
      <wsdl:input message="tns:EliminarProductoSoapIn" />
      <wsdl:output message="tns:EliminarProductoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSGestionProductosSoap" type="tns:WSGestionProductosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProductos">
      <soap:operation soapAction="http://tempuri.org/ListarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearProducto">
      <soap:operation soapAction="http://tempuri.org/CrearProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <soap:operation soapAction="http://tempuri.org/ActualizarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap:operation soapAction="http://tempuri.org/EliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSGestionProductosSoap12" type="tns:WSGestionProductosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProductos">
      <soap12:operation soapAction="http://tempuri.org/ListarProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearProducto">
      <soap12:operation soapAction="http://tempuri.org/CrearProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <soap12:operation soapAction="http://tempuri.org/ActualizarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap12:operation soapAction="http://tempuri.org/EliminarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSGestionProductos">
    <wsdl:port name="WSGestionProductosSoap" binding="tns:WSGestionProductosSoap">
      <soap:address location="http://localhost/WSGestionProductos/WSGestionProductos.asmx" />
    </wsdl:port>
    <wsdl:port name="WSGestionProductosSoap12" binding="tns:WSGestionProductosSoap12">
      <soap12:address location="http://localhost/WSGestionProductos/WSGestionProductos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>