ReferenciaServicios/Web References/WRGestionProductos/WSGestionProductos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mxObtenerProductos">
        <s:complexType />
      </s:element>
      <s:element name="mxObtenerProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mxObtenerProductosResult" type="tns:ProductosListRPT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProductosListRPT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="paProductos" type="tns:ArrayOfProductoListaCN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProductoListaCN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductoListaCN" nillable="true" type="tns:ProductoListaCN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductoListaCN">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="pnIdePro" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="pcNomPro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pcDesPro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pnPrePro" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="pnStoPro" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ptFecPro" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="mxCrearProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="toCrePro" type="tns:ProductoCrearRQT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProductoCrearRQT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="pcNomPro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pcDesPro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pnPrePro" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="pnStoPro" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mxCrearProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mxCrearProductoResult" type="tns:ProductoCrearRPT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProductoCrearRPT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="pnIdePro" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="pcNomPro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pcDesPro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pnPrePro" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="pnStoPro" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ptFecPro" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="mxActualizarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="toActPro" type="tns:ProductoActualizarRQT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProductoActualizarRQT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="pnIdePro" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="pcNomPro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pcDesPro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pnPrePro" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="pnStoPro" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mxActualizarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mxActualizarProductoResult" type="tns:ProductoActualizarRPT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProductoActualizarRPT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="pnIdePro" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="pcNomPro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pcDesPro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pnPrePro" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="pnStoPro" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ptFecPro" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="mxEliminarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tnIdePro" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mxEliminarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mxEliminarProductoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mxObtenerProductosSoapIn">
    <wsdl:part name="parameters" element="tns:mxObtenerProductos" />
  </wsdl:message>
  <wsdl:message name="mxObtenerProductosSoapOut">
    <wsdl:part name="parameters" element="tns:mxObtenerProductosResponse" />
  </wsdl:message>
  <wsdl:message name="mxCrearProductoSoapIn">
    <wsdl:part name="parameters" element="tns:mxCrearProducto" />
  </wsdl:message>
  <wsdl:message name="mxCrearProductoSoapOut">
    <wsdl:part name="parameters" element="tns:mxCrearProductoResponse" />
  </wsdl:message>
  <wsdl:message name="mxActualizarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:mxActualizarProducto" />
  </wsdl:message>
  <wsdl:message name="mxActualizarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:mxActualizarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="mxEliminarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:mxEliminarProducto" />
  </wsdl:message>
  <wsdl:message name="mxEliminarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:mxEliminarProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSGestionProductosSoap">
    <wsdl:operation name="mxObtenerProductos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene la lista de todos los productos.</wsdl:documentation>
      <wsdl:input message="tns:mxObtenerProductosSoapIn" />
      <wsdl:output message="tns:mxObtenerProductosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mxCrearProducto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Crea un nuevo producto.</wsdl:documentation>
      <wsdl:input message="tns:mxCrearProductoSoapIn" />
      <wsdl:output message="tns:mxCrearProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mxActualizarProducto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza un producto existente.</wsdl:documentation>
      <wsdl:input message="tns:mxActualizarProductoSoapIn" />
      <wsdl:output message="tns:mxActualizarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mxEliminarProducto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina un producto por su identificador.</wsdl:documentation>
      <wsdl:input message="tns:mxEliminarProductoSoapIn" />
      <wsdl:output message="tns:mxEliminarProductoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSGestionProductosSoap" type="tns:WSGestionProductosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mxObtenerProductos">
      <soap:operation soapAction="http://tempuri.org/mxObtenerProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mxCrearProducto">
      <soap:operation soapAction="http://tempuri.org/mxCrearProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mxActualizarProducto">
      <soap:operation soapAction="http://tempuri.org/mxActualizarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mxEliminarProducto">
      <soap:operation soapAction="http://tempuri.org/mxEliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSGestionProductosSoap12" type="tns:WSGestionProductosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mxObtenerProductos">
      <soap12:operation soapAction="http://tempuri.org/mxObtenerProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mxCrearProducto">
      <soap12:operation soapAction="http://tempuri.org/mxCrearProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mxActualizarProducto">
      <soap12:operation soapAction="http://tempuri.org/mxActualizarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mxEliminarProducto">
      <soap12:operation soapAction="http://tempuri.org/mxEliminarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSGestionProductos">
    <wsdl:port name="WSGestionProductosSoap" binding="tns:WSGestionProductosSoap">
      <soap:address location="http://localhost/WSGestionProductos/WSGestionProductos.asmx" />
    </wsdl:port>
    <wsdl:port name="WSGestionProductosSoap12" binding="tns:WSGestionProductosSoap12">
      <soap12:address location="http://localhost/WSGestionProductos/WSGestionProductos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>